@model List<BasedProject.Models.Models.Post>
 <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post previews -->
                @foreach (var post in Model)    
                {
                    <div class="post-preview">
                        <a href="@Url.Action("Details", "Home", new {id = post.Id})">
                            <h2>@post.Title</h2>
                            <h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">@post.Modified</a>
                            on @post.PostedOn.ToString("MMMM dd, yyyy")
                        </p>
                    </div>
                    <!-- Divider -->
                    <hr class="my-4" />
                }
                <!-- End of posts loop -->
                <!-- Pager -->
                <div class="d-flex justify-content-end mb-4">
                    <a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a>
                </div>
            </div>
        </div>
    </div>

  